language = "python3"
run = "python manage.py runserver 0.0.0.0:3000"

                        #How repl.it works:
#Simply hit "Run" when you want to run the server. You can also type "python manage.py runserver 0.0.0.0:3000" in the console but this is unecessary.
#If you want to go back to a previous version... look at the top left where you see "SymCheckDevelopment", the Python symbol, and a play button. The play button with the circle arrow is where you can see this repl's history.


                        #SymCheck File Structure
#As of right now, I migrated our files from GitHub to conform to repl.it's default Django structure. The following has changed:
# - We no longer have our apps folder, 'SymCheck'. This folder had some files we didnt use and it had our views.py.
# - views.py has been moved to "mysite" folder. This folder is equivalent to our "djangoProject1".
# - Leave the packager files alone. This is repl.it stuff needed in the backend so please do NOT alter it!
# - Also leave the .replit file alone. This file tells repl.it what language this instance is running and has our runserver script. This is why the "Run" button works!





# HAPPY CODING!😁