* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.btnNearby {
    background-color: #008db1;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 32px;
    font-size: 16px;
    font-weight: bold;

}

.infotxt{
    
    text-align: center;

}


.txtBoxNearby {
    height: 102px;
    width: 100%;
    border: 2px solid black;
    margin-bottom: 20px;
    color: black;
    overflow: auto;
}

.body_FAQ {
    display: block;
    width: 88%;
    height: auto;
    max-width: 900px;
    flex-direction: column;
    justify-content: right;
    border-width: 1px;
    border-style: solid solid none solid;
    margin: 0 auto;
}

.txtBoxQ{
    display: flex;
    text-align: left;
    justify-content: left;
    background-color: #D3ECFF;
    font-weight: bold;
    border-width: 1px;
    border-style:none none solid none;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 5px;
}
.Question{
    color: #1F5F90;
    text-align: left;
}
.txtBoxA{
    display: flex;
    text-align: left;
    justify-content: center;
    background-color: white;
    padding-bottom:6px;
    padding-top: 6px;
    padding-left: 5px;
}
.Answer{
    color:  #1F5F90;
}

.FAQ-box{
    padding-top:30px;
     padding-bottom: 60px;
}
.popup {
    background-color: white;
}
.form-popup {
    display: none;
    position: fixed;
    border: 3px solid #f1f1f1;
}

#map {
    height: 500px;
    width: 500px;
  }