div{
   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.emergency {
    text-align: center;
}

.btnNearby {
    background-color: #008db1;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 32px;
    font-size: 16px;
    font-weight: bold;
}

/*.container {*/
/*    padding: 10px;*/
/*}*/

/*.imageGuidelines {*/
/*    float: left;*/
/*    width: 50%;*/
/*}*/

/*.imageUpload {*/
/*    float: right;*/
/*    width: 50%;*/
/*}*/

.container {
    padding: 50px;
    display: flex;
}

.imageGuidelines {
    flex: 1;
}

.imageUpload {
    margin-right: 20px
}

.mini-container {
    text-align: center;
    padding: 50px;
    width: 575px;

}

/*.uploadButton {*/
/*    flex: 1;*/
/*}*/

.btnUpload {
    background-color: #008db1;
    color: white;
    border: none;
    padding: 20px;
    border-radius: 64px;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
}

/*.submitButton {*/
/*    margin-right: 0px;*/
/*}*/

.btnSubmit {
    background-color: #008db1;
    color: white;
    border: none;
    padding: 20px;
    width: 200px;
    border-radius: 64px;
    font-size: 20px;
    font-weight: bold;
}

/*.btnDivider{*/
/*    width:0px;*/
/*    height:auto;*/
/*    display:inline-block;*/
/*}*/

.popup {
    background-color: white;
    position: absolute;
    top:50%;
    left:50%;
    margin-left: 575px;
    margin-top: -60px;
}

.form-popup {
    display: none;
    position: absolute;
    border: 3px solid #f1f1f1;
}

#map {
    height: 500px;
    width: 500px;
}
