* {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.banner {
    display: flex;
    width: 88%;
    max-width: 575px;
    height: 2px;
    background-color: #75a9f9;

}

.container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;


}

.containerHome {
    position: relative;
    text-align: center;

}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading {
    position: relative;
    right: 0;
    left: 0;
    max-width: 500px;
    min-width: 200px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    widows: 50%;
    justify-content: center;
    justify-items: center;
    bottom: 175px;
}

.headingHome {
    position: relative;
    right: 0;
    left: 0;
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    justify-content: center;
    justify-items: center;
    bottom: 170px;
    transform: 50%;
}

.textcenter {
    right: 0;
    left: 0;
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.btnNew {
    width: 149px;
    height: 28px;
    background-color: #008db1;
    border-radius: 8px;
    margin-top: 10px;
    margin-right: 10px;

}

.btnHome {
    width: 80px;
    height: 28px;
    background-color: #008db1;
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 10px;

}

.btnNearby {
    width: 195px;
    height: 42px;
    background-color: #008db1;
    border-radius: 8px;
    align-self: center;


}

.rowContainer {
    display: flex;
    flex-direction: row;
    width: 88%;
    max-width: 575px;
    justify-content: space-between;
    margin-bottom: 40px;

}

.txtInfo {
    font-size: 30px;
    font-weight: bold;
    justify-items: right;
}

.txtBoxResult {
    height: 73px;
    width: 100%;
    border: 2px solid black;
    margin-bottom: 20px;
    color: black;
    overflow: auto;


}

.txtBoxAbout {
    height: 112px;
    width: 100%;
    border: 2px solid black;
    margin-bottom: 20px;
    color: black;
    overflow: auto;
}

.txtBoxDoc {
    height: 173px;
    width: 100%;
    border: 2px solid black;
    margin-bottom: 20px;
    color: black;
    overflow: auto;
}

.txtBoxNearby {
    height: 102px;
    width: 100%;
    border: 2px solid black;
    margin-bottom: 20px;
    color: black;
    overflow: auto;
}

.body {
    display: flex;
    width: 88%;
    height: 100%;
    max-width: 575px;
    flex-direction: column;

}
.popup {
    background-color: white;
}
.form-popup {
    display: none;
    position: fixed;
    border: 3px solid #f1f1f1;
}

#example1 {
    background: url("Background_WebPage_001.png");
    background-repeat: repeat;
    background-size: auto 100%;
    height: 105%;
    width: auto;
    background-position: bottom;
    min-width: 100%;
    min-height: 100%;
}

#example2 {
    background-color: white;
    background-position: top, center;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    justify-content: center;
    justify-items: center;
    max-width: 700px;
    width: auto;
    height: 100%;
}

#bkg {
    top:0px;
    bottom:0px;

    background: url("Background_WebPage_001.png");
    position: absolute;
    background-repeat: repeat;
    background-size: 100%;
    height: 100%;
    width: auto;
    background-position: top;
    min-width: 100%;
    min-height: 100%;
    
}

#whitebkg {
    top:0px;
    bottom:0px;
    
    background-color: white;
    background-position: top, center;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    justify-content: center;
    justify-items: center;
    max-width: 700px;
    overflow-y: scroll;
    height: 100%;
    
}
#map {
    height: 500px;
    width: 500px;
  }