<!DOCTYPE html >
<html>
<div id="example1">
    <div id="example2">
        <head>
            {% load static %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
            <title>SYMCheck</title>

            <div class="container">
                <div>
                    <img src="{% static  'images/SymCheckIcon_Prefab.PNG' %}" alt="HomeLogo"
                         style="width: 100%;height:87px; max-width: 651px;"/>
                </div>
                <div class="banner">
                </div>


                <div class="rowContainer">
                    <a href="{% url 'Homepage' %}">
                        <button class="btnHome">
                            Home
                        </button>
                    </a>
                    <a href="{% url 'Imagepage' %}">
                        <button class="btnNew">
                            New Diagnosis
                        </button>
                    </a>

                </div>


            </div>


        </head>

        <body>
            
        <div class="container">

            <div class="form-popup" id="MyMap" >
                <div class="popup">
                    <button class="btnNearby" onclick="closeMap()">
                        Back
                    </button>
                    <div id="map"></div>
                </div>
            </div>
            

            <div class="body">
                <h5 style="font-size:30px; margin-bottom: 30px; color: #004466;">Frequently Asked Questions (FAQ)</h5>

                <div class="txtBoxQ">
                    <div class="Qtab">
                    </div>
                    <div class="Question">
                        Q.
                    </div>
                    What diseases does SymCheck diagnose?
                </div>
                <div class="txtBoxA">
                    <div class="Atab">
                    </div>
                    <div class="Answer">
                        A.
                    </div>
                    At this current stage in SymCheck's developpment, the SymCheck can detect chickenpox and pinkeye through photo recognition, but is looking to expand this in the future.
                </div>
                <div class="bannerFAQ">

                </div>
                <div class="txtBoxQ">
                    <div class="Qtab">
                    </div>
                    <div class="Question">
                        Q.
                    </div>
                    How does my advanced diagnosis question responses attribute to my confidence level?
                </div>
                <div class="txtBoxA">
                    <div class="Atab">
                    </div>
                    <div class="Answer">
                        A.
                    </div>
                    By answering the questions on our advanced diagnosis page, your confidence level could either increase or decrease depending on your response. There are some symptoms to diseases that cannot be recognized visually, so this feature allows you to have a more accurate prediction. 
                </div>

                <div class="bannerFAQ">

                </div>
                <div class="txtBoxQ">
                    <div class="Qtab">
                    </div>
                    <div class="Question">
                        Q.
                    </div>
                    What is the best way to reach the developers?
                </div>
                <div class="txtBoxA">
                    <div class="Atab">
                    </div>
                    <div class="Answer">
                        A.
                    </div>
                    If you would like to leave feedback, comments or concerns you can email our team at symcheckapp@gmail.com. You can find the link to email us at the bottom of the page.
                </div>

                <div class="bannerFAQ">

                </div>

                <div class="txtBoxQ">
                    <div class="Qtab">
                    </div>
                    <div class="Question">
                        Q.
                    </div>
                    What is the best photo format to upload?
                </div>
                <div class="txtBoxA">
                    <div class="Atab">
                    </div>
                    <div class="Answer">
                        A.
                    </div>
                    When uploading your photo, be sure that it is saved as JPG or PNG. For best results, capture the area of concern as closely and clearly as possible. Do not add filters or edit the photo.
                </div>
                
                <div class="bannerFAQ">

                </div>

                <div class="txtBoxQ">
                    <div class="Qtab">
                    </div>
                    <div class="Question">
                        Q.
                    </div>
                    How does SymCheck diagnose diseases?
                </div>
                <div class="txtBoxA">
                    <div class="Atab">
                    </div>
                    <div class="Answer">
                        A.
                    </div>
                    SymCheck uses a trained machine learning-based model to classify your uploaded image. This model is currently 78% accurate and does not use any trained professional knowledge.
                </div>
                
                <div class="bannerFAQ">

                </div>


                
                <button class="btnNearby" onclick="openMap()">
                    FIND NEAREST EMERGENCY ROOM
                </button>

                
                <script src="{% static 'js/script.js' %}"></script>

                <script
                 src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGtBOJljLfXZwob9rXplHr9fy6P5bH5DA&callback=initMap&libraries=places"
                 defer>
                </script>
                

                <br>
                <div class="txtInfo">
                    Feedback
                </div>
                <p style="margin-bottom: 40px;">Contact us <a href="mailto: symcheckapp@gmail.com">Here</a> for any
                    questions or comments for our team</p>

            </div>


        </div>

        </body>

        <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  chat-icon="https:&#x2F;&#x2F;storage.googleapis.com&#x2F;cloudprod-apiai&#x2F;7bb97d04-7e35-4c56-88ab-0e9a830acde2_x.png"
  intent="WELCOME"
  chat-title="SymCheck_bot"
  agent-id="52506c28-7652-422c-8c7d-b6fef78013e2"
  language-code="en"
></df-messenger>

    </div>
</div>
</html> 