<!DOCTYPE html>
<html>
<div id="bkg">
    <div id="whitebkg">
        <head>
            {% load static %}
            <div class="container">
                <title>SYMCheck</title>
                <div>
                    <img src="{% static  'images/SymCheckIcon_Prefab.PNG' %}" alt="HomeLogo"
                         style="width: 100%;height:87px; max-width: 651px;"/>
                </div>
                <div class="banner">
                </div>
                <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
                <script src="{% static 'js/script.js' %}"></script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGtBOJljLfXZwob9rXplHr9fy6P5bH5DA&callback=initMap&libraries=places"
                 defer>
                </script>
            </div>


        </head>

        <body>
        <div class="container">
            <div class="body">
                <div class="textcenter">
                    <h5 style="color:red; text-align: center ;min-width: 90%;">** IF YOUR ARE HAVING TROUBLE BREATHING,
                        EXPERIENCING CHEST PAINS, OR EXPERIENCING SEVERE BLEEDING, PLEASE HEAD TO THE NEAREST EMERGENCY ROOM**</h5>
                </div>

                <button class="btnNearby" onclick="openMap()">
                    FIND NEAREST EMERGENCY ROOM
                </button>

                <div class="form-popup" id="MyMap">
                    <div class="popup">
                        <button class="btnNearby" onclick="closeMap()">
                            Back
                        </button>
                        <div id="map"></div>
                    </div>
                </div>
                <style>
                    .image-upload>input {
                     display: none;
                    }


                </style>
                
                <div style="justify-items: center; margin-right: auto; margin-left: auto; margin-top: 30%; ">

                    <!-- <form method="post" enctype="multipart/form-data"> Upload Image to media file
                        {%csrf_token%}
                        <div class="image-upload">
                            <label for="file-input">
                              <img src="https://icon-library.net/images/upload-photo-icon/upload-photo-icon-21.jpg"/>
                            </label>
                            
                            <input id ="file-input" type="file" name="image" accept="image/x-png,image/jpeg" required/>
                            Only allow png or jpeg files, so far browse only
                        </div>
                        
                        <button type="BrowseComputer">Submit</button>
                    </form> -->
                    <!--TESTIGN DOUBLE INPUT-->
                    <!-- <div style="max-width:50%; justify-items: center; margin-right: auto; margin-left:auto;margin-top: 10%">
                        <p style="color:#008db1; font-size: smaller;"> Images must be JPG or PNG format.
                            Please be sure to capture the illness area as close as possible.
                            Do not add any filters to the image. Please make sure the file name contains no whitespace.</p>
                    </div> -->
                    <p><img id="output" width="200" /></p>
                    
                    <form method="post" enctype="multipart/form-data"> <!--Upload Image to media file-->
                        {%csrf_token%}
                        <a><input type="file" style="display: none;" accept="image/x-png,image/jpeg" name="image" id="file" onchange="loadFile(event)" required/></a>
                        <button type="button" style="width: 100px; height: 30px; background-color: #008db1; border-radius: 10px; margin-top: 10px; margin-left: 10px;"><label for="file" style="cursor: pointer;">Upload Image</label></button>
                        <!--Only allow png or jpeg files, so far browse only-->
                        <button type="BrowseComputer" style="cursor: pointer; width: 100px; height: 30px; background-color: #008db1; border-radius: 10px; margin-top: 10px; margin-left: 10px;">Submit</button>
                    </form>

                    <div style="max-width:50%; justify-items: center; margin-right: auto; margin-left:auto;margin-top: 10%">
                    </div>
                </div>
                <div style="max-width:50%; justify-items: center; margin-right: auto; margin-left:auto;margin-top: 10%">
                    <p style="color:#008db1; font-size: smaller;"> Images must be JPG or PNG format.
                        Please be sure to capture the affected area as closely as possible.
                        Do not add any filters to the image. And please ensure that the file name contains no whitespaces.</p>

                    </div>
                </div>
                <a href="{% url 'Homepage' %}">
                    <button class="btnHome">
                        Home
                    </button>
                </a>
            </div>
            <script>
                // add a reset to image on upload click & move it 
                var loadFile = function(event) {
                var image = document.getElementById('output');
                image.src = URL.createObjectURL(event.target.files[0]);
                 }
             </script>

            <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
        <df-messenger
          chat-icon="https:&#x2F;&#x2F;storage.googleapis.com&#x2F;cloudprod-apiai&#x2F;54615a55-7d1c-40bf-a2cd-bb55e2ad2209_x.png"
          intent="WELCOME"
          chat-title="SymCheck_bot"
          agent-id="52506c28-7652-422c-8c7d-b6fef78013e2"
          language-code="en"
        ></df-messenger>

        </body>
    </div>
</div>
</html>