{% extends 'base.html' %}
{% load static %}
<!--Header here-->

{% block content %}
<title>SymCheck AboutUs</title>
<body>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Aboutus.css' %}"/>
    
    <!--Body Starts Here-->
    <div class = "outerGrid">
    <div class = "centerthis">
        <div class = "aboutTitle">
            <h2> What is SymCheck?</h2>
            <p>Welcome! SymCheck is an online image diagnosis application that will help you identify what illness you may have.
                Our site, which has been implemented with our algorithm made with Django and tensorflow, has an accuracy of over 88% 
                and can help you make an informed decision on if or when you may need a medical professional.
            </p>
        </div>
        <br>
        <div class = "aboutTitle">
            <h2>MEET THE TEAM!</h2>
                </div>
        <div class = "GridLeftPic"> <!--Outer of one person Start Pick Left-->
            <div> <!--Image?-->
                <img class = "aboutPic" src ="{% static  'images/MorganPic.PNG' %}"/>
            </div>
            <div> <!--Morgan text-->
                <h4>Morgan Franklin: Cloud Engineer</h4>
                <p>Morgan as our Cloud Engineer ensured that our collaberative work space was up and running along with our public site. She has also done an amazing job with technical documentation concerning the application. 
                </p>
            </div>
        </div>
        <hr>
        <div class = BigScreen>
            <div class = "GridRightPic"> <!--Outer of one person Start Pick Left-->
                    <div> <!--Jasmine Text-->
                        <h4>Jasmine Washington: Scrum Master/Project Manager</h4>
                        <p>Jasmine as both our Scrum master and Project Manager ensured all scrum events were productiove, helped the team remain on task, and even assisted others with their programming work. Her leadership skills allowed us to achieve a 100% completion rate of users stories! 
                        </p>
                    </div>
                    <div> <!--Jasmine Image-->
                        <img class = "aboutPic" src ="{% static  'images/Jasmine.PNG' %}"/>
                    </div>
            </div>
        </div>
        <div class = mobileScreen>
            <div class = "GridLeftPic"> <!--Outer of one person Start Pick Left-->
                   
                    <div> <!--Jasmine Image-->
                        <img class = "aboutPic" src ="{% static  'images/Jasmine.PNG' %}"/>
                    </div>
                    <div> <!--Jasmine Text-->
                        <h4>Jasmine Washington: Scrum Master/Project Manager</h4>
                        <p>Jasmine as both our Scrum master and Project Manager ensured all scrum events were productiove, helped the team remain on task, and even assisted others with their programming work. Her leadership skills allowed us to achieve a 100% completion rate of users stories! 
                        </p>
                    </div>
            </div>
        </div>
        <hr>
        <div class = "GridLeftPic"> <!--Outer of one person Start Pick Left-->
            <div> <!--Sayema-->
                <img class = "aboutPic" src ="{% static  'images/SayemaPic.jpg' %}"/>
            </div>
            <div> <!--Sayema text-->
                <h4>Sayema Islam: Product owner/Developer</h4>
                <p>Sayema Islam as our product owner came up with this brilliant idea that would help out many people during this crises in an effort to minimize exposer! She has also been organizing any code and writing all technical documents. 
                </p>
            </div>
        </div>
        <hr>
        <div class = "BigScreen">
            <div class = "GridRightPic"> <!--Outer of one person Start Pick Left-->
                <div> <!--Swapnil Text-->
                    <h4>Swapnil Kadekar: Machine learning Engineer</h4>
                    <p>Swapnil Kadekar as our Machine learning engineer designed and implemented an amazing algorithm using Tensorflow, Keras, and python. 
                    </p>
                </div>
                <div> <!--Swapnil Image-->
                    <img class = "aboutPic" src ="{% static  'images/SwapnilPic.PNG' %}"/>
                </div>
            </div>
        </div>
        <div class = "mobileScreen">
            <div class = "GridLeftPic"> <!--Outer of one person Start Pick Left-->
                
                <div> <!--Swapnil Image-->
                    <img class = "aboutPic" src ="{% static  'images/SwapnilPic.PNG' %}"/>
                </div>
                <div> <!--Swapnil Text-->
                    <h4>Swapnil Kadekar: Machine learning Engineer</h4>
                    <p>Swapnil Kadekar as our Machine learning engineer designed and implemented an amazing algorithm using Tensorflow, Keras, and python. 
                    </p>
                </div>
            </div>
        </div>
        <hr>
        <div class = "GridLeftPic"> <!--Outer of one person Start Pick Left-->
            <div> <!--Briana-->
                <img class = "aboutPic" src ="{% static  'images/BrianaPic.PNG' %}"/>
            </div>
            <div> <!--Briana text-->
                <h4>Briana Figueroa: Front-end Developer/Designer</h4>
                <p>Briana Figueroa as our front-end developer developed several of our pages as well as making them reactive for mobile users with HTML, CSS, and JavaScript. She also as our designer she created our page layout as well as the artwork. 
                </p>
            </div>
        </div>
        <hr>
        <div class = "BigScreen">
            <div class = "GridRightPic"> <!--Outer of one person Start Pick Left-->
                <div> <!--Alan Text-->
                    <h4>Alan Singleton: Full-Stack Developer </h4>
                    <p>Alan Singleton as our Full-stack developer, implemented several of the pages HTML, CSS, and JavaScript. He has also set up the backend of our application to implement the results of our algorithm with python. 
                    </p>
                </div>
                <div> <!--Alin Image-->
                    <img class = "aboutPic" src ="{% static  'images/AlanPic.PNG' %}"/>
                </div>
            </div>
        </div>
        <div class = "mobileScreen">
            <div class = "GridLeftPic"> <!--Outer of one person Start Pick Left-->
                
                <div> <!--Alin Image-->
                    <img class = "aboutPic" src ="{% static  'images/AlanPic.PNG' %}"/>
                </div>
                <div> <!--Alan Text-->
                    <h4>Alan Singleton: Full-Stack Developer </h4>
                    <p>Alan Singleton as our Full-stack developer, implemented several of the pages HTML, CSS, and JavaScript. He has also set up the backend of our application to implement the results of our algorithm with python. 
                    </p>
                </div>
            </div>
        </div>
        <br>
    </div>


</div>
   
    <!--Body Ends Here-->
    <!--Footer Starts here-->
{% endblock %}