{% extends 'base.html' %}
{% load static %}
<!--Header here-->

{% block content %}
<title>SymCheck Upload</title>

<body>
    <link rel="stylesheet" type="text/css" href="{% static 'css/NewUpload.css' %}"/>
    <!--Body Starts Here-->
    <div class="emergency">
        <h5 style="color:red; text-align: center; min-width: 90%;">**IF YOU ARE HAVING TROUBLE BREATHING HAVE CHEST PAINS, OR SEVERE BLEEDING,<br/>PLEASE HEAD TO THE NEAREST EMERGENCY ROOM**</h5>
        <button class="btnNearby" style="cursor: pointer;" onclick="openMap()">NEAREST</br>EMERGENCY ROOM</button>
        
        <div class="form-popup" id="MyMap">
            <div class="popup">
                <button class="btnNearby" onclick="closeMap()">BACK</button>
                <div id="map"></div>
            </div>
            </div>
    </div>
    
    <!--Google Maps API Script-->
    <script src="{% static 'js/script.js' %}"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGtBOJljLfXZwob9rXplHr9fy6P5bH5DA&callback=initMap&libraries=places" defer>
    </script>
    
    <div class="container">
        <div class="imageGuidelines">
            <img src="{% static 'images/ImageUploadGuidelines.png' %}" alt="Upload instructions graphic"/>
        </div>
        
        <div class="imageUpload">
            <img id="output" src="{% static 'images/ImageUploadArea.png' %}" alt="Image upload area graphic"/>
            
            <div class="mini-container">
                <form method="post" enctype="multipart/form-data"> <!--Upload Image to media file-->
                    {%csrf_token%}
                    <a><input type="file" style="display: none;" accept="image/x-png,image/jpeg" name="image" id="file" onchange="loadFile(event)" required/></a>
                    <button class="btnUpload" type="button"><label for="file" style="cursor: pointer; padding: 2em; margin: -2em;">Upload Image</label></button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btnSubmit" onclick="Advanced" type="BrowseComputer">Submit</button>
                    
                    <!--{%csrf_token%}-->
                    <!--<a><input type="file" style="display: none;" accept="image/x-png,image/jpeg" name="image" id="file" onchange="loadFile(event)" required/></a>-->
                    <!--<button type="button" style="width: 100px; height: 30px; background-color: #008db1; border-radius: 10px; margin-top: 10px; margin-left: 10px;"><label onclick = "Empty('output')" for="file"  style="cursor: pointer; padding:2em; margin:-2em">Upload Image</label></button>-->
                    <!--Only allow png or jpeg files, so far browse only-->
                    <!--<button type="BrowseComputer" style="cursor: pointer; width: 100px; height: 30px; background-color: #008db1; border-radius: 10px; margin-top: 10px; margin-left: 10px;">Submit</button>-->
                </form>
            </div>
        </div>
    </div>
    
    <!--Image Submission Script-->
    <script>
    function Empty(elementID){
        document.getElementById(elementID).src = " ";
    }

    var loadFile = function(event) {
    var image = document.getElementById('output');
    image.src = URL.createObjectURL(event.target.files[0]);
    }
    </script>
    


{% endblock %}
