/* All CSS for all Pages */
div{
   
    font-family: 'Trebuchet MS' , 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}
html, body{

    margin:0;
    padding:0;
}
.Logo{
    max-width: 150px;
}
.Topbar{
    
    overflow:hidden;
    text-align: center;
    padding: 10px;
}
a{
    text-decoration: none;
}
.Toptext{
   color:black;
   text-decoration: none;
   padding: 10px;
    
}
.Toptext:hover{
    background-color: azure;
    color:#0B4F6c;
    cursor: pointer;
    
    
}
.footer{
    display: block;
    background-color:#edf0f4;
    margin: 0%;
    padding: 0;
    font-size: small;
}
.footerLink{
    color:#798da3;
}

.footerGrid{
    color: #798da3;
    display: grid;
    width: auto;
    max-width: 400px;
    min-width: 10%;
    grid-template-columns: 1fr 1fr 1fr; 
    padding-left: 40px;
    
}


.Symbol{
    
    margin-left: 0;
    width: 100px;
    padding:0;
    vertical-align: middle;

}
.Symboltext{
    color: #9fafc1;
    display: inline-block;
    font-size: xx-small;
    width: 175px;
}
.Disclaimer{

    color: #798da3;
    display: block;
    font-size: x-small;
    text-align: center;
    margin: 0 auto;
    min-width: 100px;
    max-width: 300px;
}

.Contacts{
    color:#798da3;
    display: inline-block;
    position: absolute;
    right: 50px;
    
}
.Contacts_Inner{
    text-align: center;
}

@media(max-width: 500px){
    .Contacts{

        margin-left: 40%;
        position: relative;
        text-align: center;
        align-content: center;
        justify-content: center;
        justify-self: center;
    }
}



/* For HomePage CSS */